{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Q&A</title>
    <link rel = "shortcut icon" href = "{% static 'images/favicon.png' %}" type = "image/x_icon">
    <link href="{% static 'eduprod/styles.css' %}" rel="stylesheet">
    <script src="{% static 'eduprod/scripts.js' %}" defer></script>
</head>
<body>
    <div id = "bar">
        <ul id = "bar-list">
            <li class = "bar-title" id = "bar-title">QUIZ</li>
            <li id = "bar-score"></li>
        </ul>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>