{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Q&A</title>
    <link rel = "shortcut icon" href = "{% static 'images/favicon.png' %}" type = "image/x_icon">
    <link href="{% static 'eduprod/styles.css' %}" rel="stylesheet">
    <script src="{% static 'eduprod/scripts.js' %}" defer></script>
</head>
<body>
    <div id = "bar">
        <table id = "t-table">
            <tr id = "top-bar-tr">
                <th>
                    <div id = "left-div">
                        <p id = "bar-title">QUIZ</p>
                        <p id = "bar-score"></p>
                    </div>
                </th>
                <th>
                    <div id = "right-div">
                        <p>{{user.username}}</p>
                        {% if user.is_superuser %}
                            <form action="{% url 'users:data_change' %}" method="post" id = "logout-form">
                                {% csrf_token %}
                                <button type="submit">Edit Questions</button>
                            </form>
                        {% endif %}
                        <form action="{% url 'users:logout' %}" method="post" id = "logout-form">
                            {% csrf_token %}
                            <button type="submit">Log out</button>
                        </form>
                    </div>
                </th>
            </tr>
        </table>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>