body { 
    font-family: Arial, sans-serif; 
    padding: 0px; 
    margin:0px;
    background-color: #444;
    color: white;
}
.question, .answer { 
    margin: 20px
}
#revealBtn { 
    margin: 20px; 
    font-size: 16px; 
    cursor: pointer;
 }

.option {
    margin-left: 50px;
    max-width: 100%;
}

#bar {
    padding-top: 0px;
    background-color: black;
    box-shadow: 0px 5px rgba(0,0,0,0.5);
}

#bar-score {
    color: gold;
}

#revealBtn{
    background-color: #444;
    color: white;
    border-color: white;
    border-radius: 2px;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}

#left-div{
    display: inline-flex;
    text-align: left;
    width: 50vw;
}

#left-div p{
    margin-left: 30px;
}

#right-div{
    display: inline-flex;
    justify-content:flex-end;
    padding-right: 10px;
    width: 50vw;
}

#logout-form{
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 30px;
}

#logout-form button{
    margin-top: 15%;
    height: 60%;
    vertical-align: middle;
    color: white;
    border: 0px;
    border-bottom: 0px solid #444;
    background: none;
}

#logout-form button:hover{
    border-bottom: 1px solid white;
    transition: 250ms;
}